<!DOCTYPE html>
<html  >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<body>
<h5>----------------------------------添加主页图片--------------------------------------------</h5>
    <form action="/login/test" method="post" enctype="multipart/form-data">
      图片：  <input type="file" name="file"><br>
        <input type="hidden" name="directory" value="master"><br>
        <h5>------------------------------------------------------------------------------</h5>
        <input type="file" name="file"><br>
        <input type="submit" value="上传">
    </form>
</body>
</html>